
<div class="jumbotron" id="jumbo-height">
  <!-- <div class="container"> -->
		<p><%= image_tag "BellasPizzeria.png" %></p>
		<h1>Calzones, Stromboli's, Pasta, Subs, Salads and more!</h1>
	<!-- </div> -->

	<!-- <div class="container"> -->
		<div class="well">
			<p>Download our app to order take-out or delivery on your mobile device </p>
			<p><em><strong>Text "pepperoni" to 33733</strong></em></p>
		</div>

		<div class="jumbotron" id="hours">
		 <div class="row">
			<h3>Hours of Operation</h3>
			<div class="col-md-5 days">
				
				<p>Monday</p>
				<p>Tuesday</p>
				<p>Wednesday</p>
				<p>Thursday</p>
				<p>Friday</p>
				<p>Saturday</p>
				<p>Sunday</p>
			</div>
			<div class="col-md-7 hours">
				
				<p>11:00am - 10:00pm</p>
				<p>11:00am - 10:00pm</p>
				<p>11:00am - 10:00pm - Team Trivia @7:30pm</p>
				<p>11:00am - 11:00pm</p>
				<p>11:00am - 11:00pm - Live Acoustic Music 6pm to 10pm</p>
				<p>11:00am - 11:00pm - Live Acoustic Music 6pm to 10pm</p>
				<p>11:00am - 9:00pm</p>
			</div>	



			</div>	
	</div>
	<!-- </div>	 -->
</div>


